/* 
.main-container-modal{
    display: flex;
    flex-direction: column;
    /* display: none; */

/* } */

/* form{
    display: flex;
    flex-direction: column;
    width: 100%;

}
dialog{
    width: 100%;
    display: flex;
}

:modal{
    position: fixed;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

/* #add-button-modal{
    width: 50%;
}

#close{
    width: 50%;
}

input{
    border-radius: 40px;
    border: 2px solid #eaeaea ;
    background-color: #eaeaea;
    margin: 2%;
    /* margin-left: ; */
    /* width: 90%;
} */
/* 
input:hover{
    border: 2px solid #eaeaea ;
} */ */ */